<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <th:block th:replace="~{/layout/base :: styles}"></th:block>
</head>
<body>
<div th:replace="~{/layout/base :: header}"></div>
<h1 class="text-info text-center">Courses Management</h1>
<main class="container">
    <div class="btn btn-outline-success">Add a new Course</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Course Name</th>
            <th>Course Price</th>
            <th>Category</th>
            <th>Manage Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="mt-4" th:each="c : ${courses}" th:if="${courses != null and !courses.isEmpty()}">
            <td><img class="img" th:src="${c.imageUrl}" alt="Course Image"/></td>
            <td>
                <a class="text-success text-decoration-none"
                   th:text="${c.name}"
                   th:href="@{'/courses/' + ${c.id}}">
                </a>
            </td>
            <td th:text="${c.price + ' VNĐ'}"></td>
            <td th:text="${c.category.name}"></td>
            <td>
                <button class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i><strong> Delete</strong>
                </button>
                <a th:href="@{'/courses/edit/' + ${c.id}}" class="btn btn-success">
                    <i class="fa-solid fa-pencil"></i><strong> Edit</strong>
                </a>
            </td>
        </tr>

        <tr th:if="${courses == null or courses.isEmpty()}">
            <td colspan="4" class="text-center text-muted">There is no courses here. Let's add a new course!</td>
        </tr>
        </tbody>
    </table>

<!--    <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <form th:action="@{/courses}" th:object="${newCourse}" method="post">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="addCourseModalLabel">Add New Course</h5>-->
<!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <div class="mb-3">-->
<!--                            <label for="name" class="form-label">Course Name</label>-->
<!--                            <input type="text" id="name" th:field="*{name}" class="form-control"/>-->
<!--                        </div>-->
<!--                        <div class="mb-3">-->
<!--                            <label for="description" class="form-label">Description</label>-->
<!--                            <input type="text" id="description" th:field="*{description}" class="form-control"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="submit" class="btn btn-success">Save</button>-->
<!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</main>
<div th:replace="~{/layout/base :: footer}"></div>
</body>
<style>
    .img{
        max-width: 200px;
    }
</style>
</html>