<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <th:block th:replace="~{/layout/base :: styles}"></th:block>
    <script th:src="@{/js/courses/delete-course-dialog.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div th:replace="~{/layout/base :: header}"></div>
<h1 class="text-info text-center">Courses Management</h1>
<main class="container">
    <a th:href="@{/courses/add}" class="btn btn-success mt-2">Add a new course</a>
    <h2 class="text-center text-success mt-4">Courses that are activating</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Course Name</th>
            <th>Course Price</th>
            <th>Category</th>
            <th>Manage Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="mt-4" th:each="c : ${activatingCourses}" th:if="${activatingCourses != null and !activatingCourses.isEmpty()}">
            <td><img class="img" th:src="${c.imageUrl}" alt="Course Image"/></td>
            <td>
                <a class="text-success text-decoration-none"
                   th:text="${c.name}"
                   th:href="@{'/courses/' + ${c.id}}">
                </a>
            </td>
            <td th:text="${c.price + ' VNĐ'}"></td>
            <td th:text="${c.category.name}"></td>
            <td>
                <button class="btn btn-danger" th:onclick="'deleteCourse(\'' + @{/api/courses} + '\', ' + ${c.id} + ', \'' + @{/courses} + '\')'">
                    <i class="fa-solid fa-trash"></i><strong> Delete</strong>
                </button>
                <a th:href="@{'/courses/' + ${c.id}}" class="btn btn-success">
                    <i class="fa-solid fa-pencil"></i><strong> Edit</strong>
                </a>
            </td>
        </tr>

        <tr th:if="${activatingCourses == null or activatingCourses.isEmpty()}">
            <td colspan="4" class="text-center text-muted">There is no courses here. Let's add a new course!</td>
        </tr>
        </tbody>
    </table>

    <h2 class="text-center text-danger mt-4">Courses that are not activating</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Course Name</th>
            <th>Course Price</th>
            <th>Category</th>
            <th>Manage Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="mt-4" th:each="c : ${inActivatingCourses}" th:if="${inActivatingCourses != null and !inActivatingCourses.isEmpty()}">
            <td><img class="img" th:src="${c.imageUrl}" alt="Course Image"/></td>
            <td>
                <a class="text-success text-decoration-none"
                   th:text="${c.name}"
                   th:href="@{'/courses/' + ${c.id}}">
                </a>
            </td>
            <td th:text="${c.price + ' VNĐ'}"></td>
            <td th:text="${c.category.name}"></td>
            <td>
                <button class="btn btn-danger" th:onclick="'deleteCourse(\'' + @{/api/courses} + '\', ' + ${c.id} + ', \'' + @{/courses} + '\')'">
                    <i class="fa-solid fa-trash"></i><strong> Delete</strong>
                </button>
                <a th:href="@{'/courses/' + ${c.id}}" class="btn btn-success">
                    <i class="fa-solid fa-pencil"></i><strong> Edit</strong>
                </a>
            </td>
        </tr>

        <tr th:if="${inActivatingCourses == null or inActivatingCourses.isEmpty()}">
            <td colspan="4" class="text-center text-muted">There is no courses here. The courses which are not assigned a teacher will appear here!</td>
        </tr>
        </tbody>
    </table>

</main>
<div th:replace="~{/layout/base :: footer}"></div>
</body>
<style>
    .img{
        max-width: 200px;
    }
</style>
</html>