<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:fragment="styles">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/layout/base.css}"/>
    </th:block>

</head>
<header id="header" th:fragment="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">

            <a class="navbar-brand text-white" th:href="@{/}">
                <img th:src="@{/images/courses_hub_logo.svg}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Courses Hub's Admin Panel
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul sec:authorize="isAuthenticated()" class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/courses}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/teachers}">Teachers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/statistics}">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                </ul>

                <ul sec:authorize="isAuthenticated()" class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a th:type="button" class="login-button" th:href="@{/logout}"><b>Log Out</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<footer id="footer" th:fragment="footer" class="text-white text-center text-lg-start bg-dark">
    <div class="text-center p-3 bg-dark bg-opacity-25">
        © 2025 Copyright:
        <a class="text-white text-decoration-none" href="https://github.com/apelion283/CoursesHub">CoursesHub</a>
    </div>
</footer>
</html>
